body{
  box-sizing: border-box;
  margin: 0px;
}

img{
  padding: 10px;
  max-width: 160%;
  height: auto;
  float: center;
}

footer{
  padding: 50px;
  text-align: center;
  width: auto;
}
input {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  background-color: -internal-light-dark(rgb(201, 162, 162), rgb(59, 59, 59));
  text-align: center;

}

.header{
  padding: 20px;
  text-align: center;
}

.carrito{
  height: 40px;
}

.datoscompra{
  margin-left: 100px;
  height: 250px;
}

.metodopago{
  margin-left: 100px;
  height: 200px;
}
#mi_carrito{
  margin-left: 100px;

}
.registro{
  margin-left: 200px;
  padding: 50px;
  height: 100px;
}
form{
  background-color: rgb(86, 177, 177);
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}
button{
  text-decoration: aliceblue;
  font-weight: 20;
  font-size: 20px;
  color: black;
  border: 1px solid black;
  float: center;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}

button:hover{
      background-color: rgb(141, 147, 163);
      color: beige;
 }

.container{
  height: 400px;
  width: 100%;

 }

 h1{
   color: black;
   background-color: #e7e5e4;

   text-align: center;
   font-size: 50px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 }

 h2{
   color: black;
   text-align: center;
   font-size: 20px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

 }

 h6{
   text-align: center;
   font-size: 15px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

 }

 p{
   text-align: center;
   font-size: 15px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

 }