body{
    text-align: center;
    background-size: cover;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;    font-size: 15px;
}



h1{
    text-decoration: underline;
    text-align: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;  
    text-decoration: underline;

}

